@import 'animation';
@import 'colour';
@import 'font';
@import 'spacing';

$drop-shadow: 0 .5rem 2rem -.5rem $black75;
$small-screen: 1500px;
$ease-in: .15s ease-in-out;

* {
  margin: 0;
  font-family: Montserrat, serif;
  letter-spacing: 1px;
  color: $white;
}

html {
  overflow: hidden;
}

body {
  background: linear-gradient(-10deg, $persian 0%, $tory 25%, $chill 50%, $turquoise 75%);
  background-size: 200% 200%;
  animation: gradient 12s ease infinite;
  height: 100vh;

  @media ($small-screen) {
    background-size: 120% 120%;
  }
}

.highlight {
  background: linear-gradient(0deg, $scream25 0%, $scream25 100%) !important;
}

#signal, #original {
  display: none;
  position: absolute;
  border: 1px solid $white10;
  padding: 2rem;
  width: calc(100% - 4rem - 4rem);
  height: calc(90% - 15.5rem);
  background: linear-gradient(0deg, $white00 0%, $white05 100%);

  &.active {
    display: block;
  }
}

button {
  background: linear-gradient(0deg, $white00 0%, $white05 100%);
  padding: 1rem;
  width: $button-width;
  transition: .1s;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  border: 1px solid $white25;
  cursor: pointer;

  &:hover {
    background: linear-gradient(0deg, $white00 0%, rgba(255, 255, 255, 0.08) 100%);
  }

  span {
    text-transform: capitalize;
    opacity: .7;
    margin-top: .25rem;
    font-size: 11px;
  }
}

.joke {
  position: absolute;
  top: calc(50% - 2.5rem);
  left: calc(50% - $joke-width * .5);
  width: $joke-width;
  height: $joke-height;

  p {
    text-align: center;
    width: 100%;
    font-size: $large-text;

    &:first-child {
      font-size: $largest-text;
    }
  }
}

@mixin head-title {
  font-size: $default-text;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  opacity: .9;
}

@mixin head-content {
  margin: .25rem 0 2rem .25rem;
  font-size: $default-text;
  opacity: .7;
}

@mixin next-button {
  position: absolute;
  bottom: 2rem;
}
