
// Light
$white: #fff;
$white00: #ffffff00;
$white05: #ffffff0d;
$white10: #ffffff1a;
$white25: #ffffff40;

// Dark
$black: #000;
$black25: #00000040;
$black75: #00000080;

// Green
$scream: #50fa7b;
$scream25: #50fa7b40;

// Blue
$persian: #1238c4;
$tory: #125d9a;
$chill: #0f8c9a;
$turquoise: #40dbbf;
